<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Votre selection de film</title>
    <link
      href="../stylesheets/aboutPageStyle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body></body>
</html>
