<%- include ('header') %>
<%- include ('nav') %>
    <h1>Hello</h1> <br>
    <div id="afficherAJAX"></div>
    <div id="filtreByGenresAJAX"></div>
    <div></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="javascripts/movies.js"></script>


</body>

<footer>
    <hr>
    <p><h5>Project 5</h5></p>
</footer>
</html>