<%- include ('header') %>
<%- include ('nav') %>
<p><%= message %></p>
    <form method="post" action="/login">
        <label>Username </label><br>
        <input type="text" name="username" required><br><br>
        <label>Password </label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit"id="submit" value="Connecter"/>
    </form>
<br><br>

</body>
</html>