<div class="topnav">
  <a href="/">Accueil</a>
  <a href="/login">Login</a>
  <a href="/logout">Déconnexion</a>
  <div class="search-container">
    <form action="/index">
      <input type="text" placeholder="Search.." name="search" />
      <button type="submit" disabled>Submit</button>
    </form>
  </div>
</div>
