<%- include ('header') %>
<%- include ('nav') %>
<!-- Header content -->
<header>
  <div class="profileLogo"> 
    <p><span>VOTRE SELECTION DE FILM</span></p>
  </div>
  <div class="profilePhoto"> 
    <!-- Cover movie photo --> 
    <img src=" <%= movie_details.cover_image %>" alt="cover"> </div>
    <!-- Movie details -->
    <section class="profileHeader">
    <h1>TITLE : <%= movie_details.title %></h1>
    <h3>Year :  <%= movie_details.year %></h3>
    <h3>Rating :  <%= movie_details.rate %></h3>
    <form method="post" action="/note">
        <input type="hidden" name="movie_id" value="<%= movie_details.id %>">
	    	<h3>
      		<span>Note ( / 5 ) : </span>
    		  1 <input type= "radio" name="rate" value="1"> &nbsp;
    	  	2 <input type= "radio" name="rate" value="2"> &nbsp;
	    	  3 <input type= "radio" name="rate" value="3"> &nbsp;
	       	4 <input type= "radio" name="rate" value="4"> &nbsp;
	    	  5 <input type= "radio" name="rate" value="5" checked> &nbsp;
	      	<input type= "submit" id="valider" value="Valider">
	    	</h3>
  	</form>
    <hr><br>
	<h3>Synopsys : </h3>  
    <textarea id="theTextarea" name="theTextarea" rows="2" cols="80"> <%= movie_details.synopsis %></textarea><br>
  </section>
</header>

<footer>
  <hr>
  <p><h5>Project 5</h5></p>
</footer>
</body>
</html>
