<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>


  <body style="width:98%">
  	<div class="center">
    	<h1 class="blink"><span>THIS PAGE DOESN'T EXIST!</span></h1>
 	</div>
  </body>
</html>