<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
  </head>

  <header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index">Home</a></li>
        <li><a href="new_planning">New Planning</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
</header>

  <body style="width:98%">
    <p>welcome, logged in as <%= user_email %></p>
  </body>
</html>