body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: #6a7b8b;
    border-bottom: 60px solid #6a7b8b;
}

.logo {
    width: 11vh;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 200px;
    padding-left: 60px;
    padding-top: 10px;
}

li a {
    color: #FFFFFF;
    text-decoration: none;
}

ul li a:hover {
    background-color: white;
    color: #6a7b8b;
}

.logocoffee {
    margin: auto;
    width: 50%;
    text-align: center;
}

.logocoffee img {
    width: 33vh;
    height: 33vh;
}

.banner {
    background-image: url("../images/mr_coffee_salle.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0px 120px;
}

h1 {
    text-align: center;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: grey 0.1em 0.1em 0.1em;
    font-size: 35px;
}

#chezMr {
    color: dimgrey;
    font-size: 50px;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#squares {
    display: flex;
    justify-content: center;
}

.square {
    height: 450px;
    width: 400px;
    border: 1px solid;
    box-shadow: 1px 1px 12px #555;
    background-color: #BAC2C8;
    margin: 0 30px 0 30px;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.square img {
    width: 150px;
    height: 150px;
}

.square h2 {
    font-size: 30px;
    text-shadow: grey 0.1em 0.1em 0.1em;
}

.gallery {
    clear: both;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.savoirPlus {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 150px;
    margin-bottom: 120px;
    font-size: 130%;
}

.buttonSavoir {
    background-color: #708090;
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonSavoir:hover {
    background-color: #e7e7e7;
}

.programme {
    font-size: 250%;
    text-align: center;
    margin-top: 20px;
}

.openLogo {
    font-size: 35px;
    font-weight: bold;
    margin-left: 180px;
}

.openLogo img {
    vertical-align: -30px;
    width: 140px;
    margin-right: 30px;
}

#votreCafe {
    width: 30%;
    font-size: 140%;
    float: left;
    margin-left: 50px;
    margin-top: 35px;
}

.fontJours {
    font-size: 35px;
    text-align: center;
    margin: 50px -8px;
}

.promardi {
    margin-right: 100px;
}

.projeudi {
    margin-left: 100px;
}

.hText {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.h2Text {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}


.footers {
    left: 0;
    bottom: 0;
    background-color: #6a7b8b;
    font-family: sans-serif;
    color: white;
    line-height: 1.8;
    text-align: center;
    padding: 20px;
}

.logoFooter img {
    width: 70px;
    float: left;
    padding-left: 60px;
    padding-top: 18px;
}

.tayFoo img {
    width: 35px;
}

.tayFoo {
    display: flex;
    justify-content: center;
}

.tayFoo ul {
    list-style: none;
}

.tayFoo li {
    font-size: 14px;
    text-align: left;
    margin: -20px 25px 0 25px;
}


/* css 2eme page "About"*/

.boxAbout1 {
    display: flex;
    flex-direction: vertical;
}

.textAbout {
    font-family: Arial, Helvetica, sans-serif;
    text-align: vertical;
    font-size: 25px;
    margin-left: 80px;
    margin-right: 50px;
}

.titreAbout {
    font-size: 35px;
    text-align: left;
    margin-top: 50px;
}

.troisCafes {
    height: 750px;
    margin: 0px 100px 100px;
}

#mrcoffeeSalle2 {
    height: 600px;
    margin: 0px 80px 80px;
    height: 750px;
    width: 500px;
}

#textAbout2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: vertical;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 80px;
    margin-bottom: 80px;
}


/* css 3eme page "Contact"*/

.myForm {
    position: relative;
    display: block;
    margin-left: 30%;
}

input {
    background-color: gainsboro;
    width: 50%;
    height: 40%;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#mes {
    height: 200px;
    width: 50%;
    background-color: gainsboro;
}

#submit {
    background-color: #708090;
    border: none;
    color: white;
    height: 60px;
    width: 150px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4);
  
}

.modal-content {
    max-width: 65%;
    margin: 50px auto;
    text-align: center;
    background-color: #fbfbfb;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.bodyModal {
    font-size: 25px;
    text-align: left;
    padding: 10px 80px;
    margin-left: auto;
    margin-right: auto;
}

#merci {
    font-size: 30px;
    text-align: right;
    margin-left: 220px;
    margin-top: 30px;
}

.textModal {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}

.headModal {
    font-size: 35px;
    text-align: center;
    display: flex;
}

.erreurMsg{
    color: red;
}

.close {
    background-color: #708090;
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px 90px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
}

.logo_dark {
    width: 70px;
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 40px;
}

.attend {
    font-size: 50px;
    text-align: center;
    width: auto;
    padding-bottom: 25px;
    margin: auto 0px;
}

.adresse {
    margin-top: 50px;
    font-size: 40px;
    text-align: vertical;
    margin-left: 400px;
}

#maps {
    margin-top: 50px;
    margin-bottom: 50px;
}

iframe {
    width: 600px;
    height: 450px;
    border-style: 0;
    margin-left: 400px;
}


/* Responsive PC */

@media screen and ( min-width: 1025px) {
    .navBar {
        float: right;
        text-align: right;
        margin-right: 35px;
    }
    ul {
        list-style: none;
        float: right;
    }
    li {
        float: left;
        font-size: 14px;
        text-align: left;
        margin: 12px 20px;
        font-size: 2vh;
        padding-top: 10px;
        letter-spacing: 2px;
    }
}

/*Responsive tablette*/

@media (min-width: 768px) and ( max-width: 1024px) {
    header {
        height: 140px;
    }
    main {
        margin-right: 50px;
        margin-left: 50px;
    }
    .navBar {
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        font-size: 14px;
        margin: 0 60px;
        font-size: 2vh;
        padding-top: 40px;
        letter-spacing: 2px;
    }
    .banner {
        width: 600px;
        height: 400px;
        margin: auto;
    }
    .logocoffee img {
        width: 15vh;
        height: 15vh;
    }
    #squares {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .square {
        height: 450px;
        width: 400px;
        border: 1px solid;
        box-shadow: 1px 1px 12px #555;
        background-color: #BAC2C8;
        margin: 20px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
    .promardi,
    .projeudi {
        display: inline-grid;
    }
    .gallery {
        display: flex;
        flex-direction: column;
    }
    .boxAbout1 {
        display: flex;
        flex-direction: column;
    }
    .attend {
        font-size: 40px;
        text-align: center;
        padding-left: 10px;
        height: auto;
    }
    .adresse {
        margin-top: 50px;
        font-size: 30px;
        margin-left: 20px;
    }
    iframe {
        width: 500px;
        height: 300px;
        margin-left: 10px;
    }
    .tayFoo ul {
        list-style: none;
        display: inline-flex;
    }
}


/* Responsive mobile */

@media (min-width: 375px) and (max-width: 767px) {
    header {
        height: 140px;
    }
    main {
        margin-right: 50px;
        margin-left: 50px;
    }
    .navBar {
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        font-size: 14px;
        margin: 0 60px;
        font-size: 2vh;
        padding-top: 40px;
        letter-spacing: 2px;
    }
    .logo {
        display: none;
    }
    .banner {
        width: auto;
        height: 200px;
        margin: auto;
    }
    h1 {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: grey 0.1em 0.1em 0.1em;
        font-size: 20px;
    }
    .logocoffee img {
        width: 10vh;
        height: 10vh;
    }
    #chezMr {
        color: dimgrey;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #squares {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .square {
        height: 600px;
        width: 200px;
        border: 1px solid;
        box-shadow: 1px 1px 12px #555;
        background-color: #BAC2C8;
        margin: 20px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
    .savoirPlus {
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .buttonSavoir {
        background-color: #708090;
        border: none;
        color: white;
        padding: 15px 50px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        cursor: pointer;
        transition-duration: 0.4s;
        border-radius: 12px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .openLogo {
        font-size: 25px;
        font-weight: bold;
        margin-left: 40px;
    }
    .programme {
        font-size: 30px;
        text-align: center;
    }
    .fontJours {
        font-size: 25px;
        text-align: center;
        margin: 15px;
    }
    .promardi,
    .projeudi {
        margin: 0px;
        display: inline-grid;
    }
    .gallery {
        display: flex;
        flex-direction: column;
    }
    .hText {
        font-size: 30px;
        text-align: center;
        margin: 0px;
    }
    .h2Text {
        font-size: 35px;
        text-align: center;
    }
    .boxAbout1 {
        display: flex;
        flex-direction: column;
    }
    .tayFoo ul {
        list-style: none;
        display: inline-flex;
    }
    /* About */
    .textAbout {
        font-size: 25px;
        margin: 25px 0;
    }
    .titreAbout {
        font-size: 35px;
        text-align: left;
    }
    .troisCafes {
        width: 300px;
        height: 400px;
        margin: auto 0px;
    }
    #textAbout2 {
        font-size: 25px;
        margin: 25px 0;
    }
    #mrcoffeeSalle2 {
        width: 320px;
        height: 365px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    /*Contact*/
    .attend {
        font-size: 35px;
        text-align: center;
        height: 100px;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .adresse {
        margin-top: 0px;
        font-size: 30px;
        text-align: vertical;
        margin-left: 25px;
    }
    iframe {
        width: 200px;
        height: 150px;
        border-style: 0;
        margin-left: 25px;
    }
}