body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

#input{
  display:flex;
  float: right;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}