  body{
      margin:0;
      padding:0;
      font-family: "Google Sans", sans-serif;
  }
  
  /*---------NAVIGATION--------- */

  nav{
    background-color:#6a7b8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 50px;
  }
  nav img{
    width: 200px;
  }
  #navigation li {
    display: inline;
  }
  #navigation li a {
    font-size: 1.2em ;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1rem;
    padding: 25px;
  }

  /*---------HEADER--------- */

  #banner {
    text-align: center;
  }
  #banner img{
    width: 14%;
  }
  #slider img{
    width: 85%;
    z-index: 0;
  }
  #titreAccueil{
    z-index: 1;
    position: absolute;
    margin: auto;
    left: 28%;
    font-size: 2.3vw;
    color: white;
    text-shadow: 2px 2px 10px black;
    padding-top: 6%;
    letter-spacing: .1rem;
  }

  /*---------SECTION-SERVICE--------- */

  #infoServices{
    text-align: center;
  }
  #infoServices h2{
    font-size: 3.2em;
    color: #626161;
    padding-top: 4%;
    padding-bottom: 2%;
  }
  #infoServices button{
    border: 0;
    font-size: 2.2em;
    color: white;
    background-color: #6a7b8b;
    box-shadow: 1px 1px 8px gray;
    padding: 1.5% 5.5%;
    text-align: center;
    border-radius: 10px;
    margin: 5%;
  }
  #sectionServices{
    display: flex;
    justify-content: center;
  }
  .services{
    background-color: #bac1c8;
    width:  22%;
    padding: 2.5% 2%;
    margin: 1.5%;
    box-shadow: 1px 1px 8px gray;
  }
  .services img{
    width: 35%;
  }
  .services h3{
    color: white;
    text-shadow: 2px 2px 10px gray;
    font-size: 1.8em;
  }
  .services p{
    color: white;
    font-size: 1.4em;
  }

  /*---------SECTION-PROGRAMME--------- */

  #programme{
   text-align: center;
   padding: 0% 10%;
  }
  #programme h2{
    font-size: 3.2em;
    color: #626161;
    padding-bottom: 3%;
  }
  #open{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #open img{
    width: 9%;
  }
  #gauche{
    float: left;
  }
  #right{
    float: right;
  }
  #open h2{
    color: #626161;
    font-size: 2.4em;
    padding-top: 3%;
    padding-left: 3%;
  }
  .textday{
    color: #626161;
    font-size: 2.4em;
  }
  .textday p{
    padding: 5% 0;
  }
  #day p{
    clear:both;
  }
  #info{
    color: #626161;
    font-size: 2em;
    padding: 2% 0;
  }
  #info2{
    color: #626161;
    font-size: 2.6em;
    padding: 5% 0;
  }
  
  /*---------SECTION-ABOUT--------- */

  #about{
    display: flex;
    flex-direction: column;
  }
  #about img{
    width: 14%;
    margin: auto;  
  }
  #engagement {
    display: flex;
    justify-content: space-around;
    padding: 5%;
  }
  #engagement img{
    width: 38%;
  }
  #engagement p,#engagement h2 {
    text-align: left;
    color: #626161;
    padding: 2% 0;
  }
  #engagement h2{
    font-size: 3.2em;
    padding-top: 5%;
  }
  #engagement p{
    font-size: 2em;
  }
  .elementEngagement:first-child{
    flex : 3;
  }
  .elementEngagement:nth-child(2){
    flex: 1;
  }
  #engagement2 {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    padding-bottom: 10%;
  }
  #engagement2 img{
    width: 40%;
  }
  #engagement2 p,#engagement2 h2 {
    text-align: left;
    color: #626161;
    padding: 3% 0;
    margin: 0;
    padding-left: 13%;
  }
  #engagement2 h2{
    font-size: 3.2em;
    padding-top: 1%;
  }
  #engagement2 p{
    font-size: 2em;
    padding-top: 4%;
  }
  .elementEngagement2:first-child{
    flex : 1;
  }
  .elementEngagement2:nth-child(2){
    flex: 3;
  }

   /*---------CONTACT--------- */

  #contact{
    display: flex;
    flex-direction: column;
  }
  #contact img{
    width: 14%;
    margin: auto;
  }
  #contact iframe{
    margin: auto;
    padding: 5%;
  }
  #contact p, #contact h1{
    color: #626161;
  }
  #contact h1{
    text-align: center;
    font-size: 3em;
  }
  #contact p{
    font-size: 2.2em;
    padding: 1% 22% ;
  }
  #formulaire{
    padding: 0 22%;
    align-items: center;
    justify-content: center;
  }
  #formulaire h2{
    text-align: center;
    font-size: 3em;
    color: #626161;
  }
  #formulaire div{
    display: flex;
    flex-direction: column;
  }
  #formulaire div label{
    font-size: 2em;
    color: #626161;
    padding: 2.5% 0 1%  0;
  }

  #formulaire div input{
    background-color: #c4cad0;  
    border :0; 
    height: 75px; 
    font-size: 2em;
  }
  #formulaire button{
    border: 0;
    font-size: 2.2em;
    color: white;
    background-color: #6a7b8b;
    box-shadow: 1px 1px 8px gray;
    padding: 1.5% 5.5%;
    text-align: center;
    border-radius: 10px;
    margin: 5%;
  }

  #formulaire textarea{
    height: 5em;
    background-color: #c4cad0;  
    border :0; 
    font-size: 2em;
  }
  #overlay{
    height: 3650px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(125, 125, 125, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  #popup{
    height: 25%;
    width: 85%;
    background-color: white;
    margin: auto;
    margin-top: 30%;
    border: 1.5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #popup h2{
    font-size: 3em;
    color: #626161;
    margin: 1%;
  }
  #popup img{
    width: 6%;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 15%;
  }
  #popup p{
    font-size: 2.2em;
    color: #626161;
    margin: 1%;
    padding: 2% 18%;
    text-align: left;
  }

  #popup button{
    border: 0;
    font-size: 2.8em;
    color: white;
    background-color: #6a7b8b;
    box-shadow: 1px 1px 8px gray;
    padding: 2% 9%;
    text-align: center;
    border-radius: 10px;
    margin: 2% 35%;
    
  }


   /*---------FOOTER--------- */

  footer{
    background-color:#6a7b8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
    clear:both; 
  }
  footer img{
    height: 100px;
  }
  #media p{
    font-size: 1.2em ;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1rem;
  }
  #logoMedia{
    text-align: center;
  }
  #logoMedia img{
    height: 40px;
    padding: 20px;
  }
  #tr{
    visibility: hidden;
  }


  /*--------------MEDIA QUERY MOBILE-----------*/

  @media (min-width: 200px) and (max-width: 600px){
    body{
      width: auto;
    }
    #navigation{
     padding: 0;
    }
    #navigation li{
      display: block;
      text-align: center;
    }
    #navigation li a{
      padding: 0;
      font-size: 1.5em;
    }
    #navbar{
    display: flex;
    flex-direction: column;
    }
    #banner img{
      width: 30%;
    }
    #titreAccueil{
      font-size: 2vw;
    }
    #slider img{
      width: 100%;
    }
    #infoServices h2{
      font-size: 1.5em;
      padding: 0%;
    }
    #sectionServices {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .services{
      width: 80%;
    }
    .services img{
      width: 20%;
    }
    .services h3{
      font-size: 1.2em;
    }
    .services p{
      font-size: 1em;
    }
    #infoServices button{
      font-size: 1.5em;
      padding: 1.5% 5.5%;
    }
    #programme{
      display: flex;
      flex-direction: column;
    }
    #programme h2{
      font-size: 1.5em;
    }
    #open img{
      width: 15%;
    }
    #day h2{
      font-size: 1.5em;
    }
    #day p{
      font-size: 1.2em;
      text-align: center;
    }
    #gauche{
      font-size: 1.2em;
      text-align: center;
    }
    #right{
      font-size: 1.2em;
      text-align: center;
    }
    footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 70px;
    }
    #media p{
      font-size: 1.2em ;
      text-align: center;
      letter-spacing: .1rem;
    }
    #logoMedia{
      text-align: center;
    }
    #logoMedia img{
      height: 50px;
      padding: 50px;
      padding : 2%;
    }
    #tr{
      display: none;
    }
    #logofooter{
      clear: both;
    }
    #about img{
      width: 30%;
    }
    #engagement{
      display: flex;
      flex-direction: column;
    }
    #engagement img{
      width: 100%;
    }
    .elementEngagement{
      font-size: 0.7em;
      text-align: center;
    }
    #engagement2{
      display: flex;
      flex-direction: column-reverse;
    }
    .elementEngagement2{
      font-size: 0.7em;
      text-align: center;
      padding: 0;
    }
    #engagement2 img{
      width: 100%;
    }
    #engagement2 h2,#engagement2 p {
      width: 100%;
      padding-left: 0;
    }
    #contact img{
      width: 30%;
    }
    #contact h1{
      font-size: 2em;
    }
    #contact p{
      font-size: 1.6em;
      text-align: center;
      padding: 0;
    }
    iframe{
      width: 300px;
      height: 300px;
      padding:0;
    }
  }
 /*--------------MEDIA QUERY TABLETTE-----------*/
@media  (min-width: 601px) and (max-width: 1024px){
  body{
    width: auto;
  }
  #navigation {
    padding: 0;
  }
  #navigation li {
    display: block;
    text-align: center;
  }
  #navigation li a {
    padding: 0;
    font-size: 2em;
  }
  #navbar{
  display: flex;
  flex-direction: column;
  }
  #banner img{
    width: 20%;
  }
  #titreAccueil{
    font-size: 2.3vw;
  }
  #slider img{
    width: 100%;
  }
  #infoServices h2{
    font-size: 1.8em;
    padding: 0%;
  }
  #sectionServices{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services {
    width: 80%;
  }
  .services img{
    width: 20%;
  }
  .services h3{
    font-size: 1.8em;
  }
  .services p{
    font-size: 1.5em;
  }
  #infoServices button{
    font-size: 1.9em;
    padding: 1.5% 5.5%;
  }programme{
    display: flex;
    flex-direction: column;
  }
  #programme h2{
    font-size: 1.8em;
  }
  #open img{
   width: 25%;
  }
  #day h2{
    font-size: 2.5em;
  }  
  #day p{
    font-size: 2.2em;
    text-align: center;
  }
  #gauche{
    font-size: 1.2em;
    text-align: center;
  }
  #right{
    font-size: 1.2em;
    text-align: center;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 70px;
  }
  #media p {
    font-size: 1.2em ;
    text-align: center;
    letter-spacing: .1rem;
  }
  #logoMedia {
    text-align: center;
  }
  #logoMedia img{
    height: 50px;
    padding: 50px;
    padding : 2%;
  }
  #tr{
    display: none;
  }
  #logofooter{
    clear: both;
  }
  #about img{
    width: 20%;
  }
  #engagement{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #engagement img{
    width: 100%;
  }
  .elementEngagement{
    font-size: 0.7em;
    text-align: center;
  }
  .elementEngagement h2{
    padding: 0;
  }
  #engagement2{
    display: flex;
    flex-direction: column-reverse;
  }
  .elementEngagement2{
    font-size: 0.7em;
    text-align: center;
    padding: 0;
  }
  #engagement2 img{
    width: 100%;
  }
  #engagement2 h2,#engagement2 p {
    width: 100%;
    padding-left: 0;
  }
  #contact img{
    width: 30%;
  }
  #contact h1{
    font-size: 2em;
  }
  #contact p{
    font-size: 1.6em;
    text-align: center;
    padding: 0;
  }
  iframe{
  width: 600px;
  height: 600px;
  padding:0;
  }
}