body{
    font-family: 'OpenSans', sans-serif;
    background: url(../background.jpg) center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    font-size: 32px;
    margin: 128px auto;
    width: 768px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 32px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

#calculator, #number, .buttons {
    border-radius: 6px;
}

#calculator {
    margin: 0 auto;
    background-color: #eeeeee;
    border: 1px solid #CCCCCC;
    width: 279px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .8);
}

#header {
    border-top: 1px solid #777;
    border-radius: 6px 6px 0 0;
    padding: 10px;
}

input#number {
    text-align: right;
    background-color: #B0E0E6;
    border: none;
    border-bottom: 1px solid #777;
    color: black;
    font-size: 20px;
    padding: 16px;
    width: 227px;
    
}

#body {
    padding: 0 10px;
}

.button {
    cursor: default;
    text-align: center;
    padding: 7px 12px;
    font-size: 20px;
    text-shadow: 0 -1px 1px #000;
    color: #000;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #CCCCCC;
    width: 34px;
    background-color: #eeeeee;
    
    margin-bottom: 10px;
}