
body{
    font-family: 'OpenSans', sans-serif;
    background: url(../background.jpg) center fixed;
    background-size: cover;
}

#calculator {
    width:300px;
	height:420px;
	background-color:#eeeeee;
	border:2px solid #CCCCCC;
	margin:auto;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

.ligne{
   width: 100%;
    padding:  3% 5%;
  display: flex;
  justify-content: space-around;
}

#result {
    background-color: #B0E0E6;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border:2px solid #CCCCCC;
    text-align: right;
    font-size: large;
    padding: 5px;
    
}

.button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border:2px solid #CCCCCC;
    font-size: large;
    color: rgb(107, 107, 107);
}
.button:hover{
    background-color: rgba(184, 184, 184, 0.8);
}
#egal:hover{
    background-color: rgba(184, 184, 184, 0.8);
}
#egal{
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border:2px solid #CCCCCC;
}


