/* General layout */
body {
  background-color: #f5f5f5; 
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  }

main {
}
/* top navbar */
.topnav {
  overflow: hidden;
  background-color: #6a7b8b;}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  vertical-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;}

.topnav a:hover {
  background-color: #ddd;
  color: black;}

.topnav a.active {
  background-color: #4CAF50;
  color: white;}

.container {
  position: relative;
  text-align: center;
  color: white;}

  .banner {
    background-image: url("./assets/mr_coffee_salle.jpg");
    background-size: cover;
    height: 100vh;
    margin: 50px;}
  
  .banner h1{
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    text-shadow: 4px 8px 8px #000000;}

.centered {
  top: 10%
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 8px 8px #000000;}

  #contact {
    display: flex;
    justify-content: center;
}

.contact {
  height: 680px;
  width: 350px;
  margin: 0 10px 100px 10px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.contact img{
  width: 60%;
  justify-content: center;
}

#squares {
    display: flex;
    justify-content: center;
}

.square {
  height: 380px;
  width: 350px;
  border: 1px black;
  background-color: #bac1c8;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square img{
  height: 80px;
  width: 80px;
}

.grey_mid {
  color: #6a7b8b;
  text-align: center;}

.center_img {
  display: block;
  text-align: center;
  margin: auto;
  width: 15%;}

.justify {
  text-align: justify;}

  #about {
    display: flex;
    justify-content: center;
}

box{
  position:relative;
    top: 70%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    padding: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
box2 {
      position: relative;
      top: 140%;
      left: 50%;
      width: 80%;
      transform: translate(-50%,-50%);
      padding: 5%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
  }    

  .box .imgbx{
    width: 350px;
    padding-left: 5%;
    /* flex: 0 0 300px; */
  }

  .box .imgbx img {
    max-width: 100%;
  }

  .content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    margin-right: 10%;
    text-align: justify;
  }

  .content2 {
    padding-right: 10%;
    padding-left: 10%;
    margin-right: 30%;
    font-size: 18px;
    text-align: justify;
  }

  .content p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
  }

  .content h3{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
  }

.box_grey{
  width:15%;
  height:70px;
  border-radius: 10px;
  vertical-align: middle;
  margin: auto;
  background:#6a7b8b;}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0%;
  height: 250px;}

.flex-container > div {
  width: 23%;
  height: 100%;
  margin: auto;
  padding: center;
  border-radius: 3px;
  background-color: #bac1c8;}

  #pressme{
    text-align: center;}


#pressme button{
    border: 0;
    color: white;
    background-color: #6a7b8b;
    box-shadow: 1px 1px 6px black;
    padding: 1.5% 5.5%;
    border-radius: 5px;
    font-size: medium;
    margin: 5%;}

.white_font {
text-align: center;
vertical-align: middle;
color:white;}

.grey_font {
  text-align: center;
  color:#6a7b8b;}

.grey_font_just {
    text-align: justify;
    color:#6a7b8b;}

.center_txt {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;}

/* *{box-sizing: border-box;} */
#about {
  text-align: justify;
}

/* Create two equal columns that floats next to each other */
#about column {
  float: inline-start;
  width: 30%;
  padding: 10px;
  text-align: center;
  height: 300px;}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;}

/* ABOUT */

.box .imgbx img {
  max-width: 100%;
}

.box .content {
  padding-left: 20px;
  padding-right: 300px;
  font-size: 18px;
}

.box2 .content2 {
  padding-right: 20px;
  padding-left: 100px;
  font-size: 18px;
}

.box .content p{
  margin: 0;
  padding: 10px 0 0;
  text-align: justify;
}

.box .content h3{
  margin: 0;
  padding: 10px 0 0;
  text-align: justify;
}

.topnav-centered {
  position: relative;
  top: 0;
  left: 0;
  transform: none;}

  /* ----- FOOTER START ----- */
  footer{
    background-color:#6a7b8b;
    display: flex;
    justify-content: space-between;
    /* justify-content: right; */
    align-items: center;
    padding: 10px 10px;
    height: 50px;
  }
  footer img{
    height: 40px;
  }
  #media p{
    font-size: small;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  #logoMedia{
    text-align: center;
  }
  #logoMedia img{
    height: 20px;
    padding: 10px;
  }
  #tr{
    visibility: hidden;
  }

  /* ------ FOOTER END ------ */

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* @media screen and (max-width: 1024px) {

}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: yellowgreen;
  }
} */

.yform {
  color:#6a7b8b;
  margin-bottom: 50px;
}

.yform div{
  text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #c4cacf;
  color: white;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #c4cacf;
  color: white;
}

input[type=submit] {
  width: 20%;
  padding: 10px 10px 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #6a7b8b;  
  /* background-color: brown;  */
}

textarea {
  resize: none;
  background-color: #c4cacf;
}

.bg-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:0; 
  display: none;
  justify-content: center;
  align-items: center;
}

.content-popup{
width: 500px;
height: 300px;
background-color: white;
border-radius: 5px;
text-align: center;
padding: 20px;
color:#6a7b8b;
}

.content-popup img{
  display: flex;
  width: 10%;
  justify-content: left;
  padding: 20px;
}

.content-popup p{
  justify-content: center;
}

.content-popup button{
  background-color: #6a7b8b;
  color:white;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  border-radius: 10px;
}