body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error{
	color: #00FF00;
	display: inline-block;
}

.center{
	text-align: center;
}

.blink{
    width:800px;
    height: 50px;
      background-color: magenta;
    padding: 15px;  
    text-align: center;
    line-height: 50px;
  }
  span{
    font-size: 25px;
    font-family: cursive;
    color: white;
    animation: blink 1s linear infinite;
  }
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

