<%- include ('header') %>
<%- include ('nav') %>
<p><h1>Afficher tous les plannings</h1></p>
<div>
    <table>
        <thead>
            <tr>
                <th>Nom complet</th> 
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
            <% for (planning of plannings) { %>
        <tbody>
            <tr> 
                    <td><a href="#<%= planning.user_ID%>"><%= planning.First_name%> <%= planning.Last_name%> </a></td>
                    <td><%= planning.Day %> </td>
                    <td><%= planning.Start_Time %></td>
                    <td><%= planning.End_Time %></td>
            </tr>
        </tbody>
          <% } %>
    </table>    
</div>
</body>
</html>