<%- include ('header') %>
<p><%= message %></p>
    <form method="post" action="/login">
        <label>Adresse mail * </label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label>Password </label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit"id="submit" value="Connecter"/>
    </form>
<br><br>
<h3>Pour s'enregistrer, cliquer ci-dessous :</h3>
<a href="/signup">S'inscrire</a>

</body>
</html>