<div>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/schedule">Gerer mes plannings</a></li>        
        <li><a href="/user">Mon profil</a></li>
        <li><a href="/signup">Deconnexion</a></li>
    </ul>
</div>