<%- include ('header') %>
<%- include ('nav') %>
<p><h1>Créer un nouveau planning</h1></p>

<form action="/schedule" method="POST">
        <label>Day of the week </label>
        <SELECT name="Day" size="1">
            <OPTION>lundi
            <OPTION>mardi
            <OPTION>mercredi
            <OPTION>jeudi
            <OPTION>vendredi
            <OPTION>samedi
            <OPTION>dimanche
        </SELECT><br><br>
        <label>Start Time *</label>
        <input type="time" id="Start_Time" name="Start_Time" required><br><br>
        <label>End Time * </label>
        <input type="time" id="End_Time" name="End_Time" required><br><br>
        <input type="submit" id="submit" value="Add schedules"/>
</form> 

<p><h1>Your existing schedules</h1></p>
<div>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
            <% for (schedule of schedules) { %>
        <tbody>
            <tr>
               <td><%= schedule.Day %> </td>
               <td><%= schedule.Start_Time %></td>
               <td><%= schedule.End_Time %></td>
            </tr>
        </tbody>
            <% } %>
    </table>    
</div>
</body>
</html>

