<%- include ('header') %>
<a href="/login">S'identifier</a>
<br><br>
<form action="/signup" method="POST">

        <label>Nom *</label><br>
        <input type="text" id="First_Name" name="First_Name" required><br><br>
        <label>Prenom *</label><br>
        <input type="text" id="Last_Name" name="Last_Name" required><br><br>
        <label>Adresse mail * </label><br>
        <input type="email" id="Email" name="Email" required><br><br>
        <label>Password </label><br>
        <input type="password" id="Password" name="Password" required><br><br>
        <label>Confirm Password </label><br>
        <input type="password" id="Password2" name="Password2" required><br><br>
        <p><%= message %></p>
        <input type="submit" id="submit" value="S'INSCRIRE"/>
</form> 

</body>
</html>