<%- include ('header') %>
<%- include ('nav') %>
<h1>Mon profil</h1>
<div>
    <div><strong>Nom :</strong> <%= users[0].First_Name %></div>
    <div><strong>Prenom : </strong><%= users[0].Last_Name %> </div>
    <div><strong>Email : </strong><%= users[0].Email %></div>
</div>
<h1><%= users[0].Last_Name %>'s planning</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <% for (user of users) { %>
            <tbody>
                <tr>
                   <td><%= user.Day %> </td>
                   <td><%= user.Start_Time %></td>
                   <td><%= user.End_Time %></td>
                </tr>
            </tbody>
                <% } %>
    </table>    
</div>
</body>
</html>