<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOGIN</title>
</head>

<body>

<div>
  <form method="POST" action="/login"  >
      <h2>Log in </h2>

      <input name="email" type="text" placeholder="Email Address"
              autofocus="true"/>
      <input name="password" type="password" placeholder="Password"/>

      <button type="submit">Log In</button>
          
      <div style="align-text:center;margin-bottom:10px;margin-top:15px"> Don't have an account? <a href='/register'>Sign up</a></div>
    
  </form>
</div>

</body>
<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:50%
}
</style>
</html>