<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEW PLANNING</title>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css"> -->
  </head>

  <header>
  <nav>
    <div class="nav-wrapper"> -->
      <a class="brand-logo">NEW PLANNING</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="new_planning">New Planning</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="signout">Sign Out</a></li>
      </ul>
    </div> -->
  </nav>
</header>

<body>
  <div>
        <h2>Enter your Planning</h2>

        <form action="/new_planning" method="POST" id="myform">
              <div><label>UserID</label>
              <input type="text" placeholder="User ID" name="userID" required></div>
              <div><label>Day of the week</label>
                <select name="day" required>
                  <option value="1">Monday</option>
                  <option value="2">Tuesday</option>
                  <option value="3">Wednesday</option>
                  <option value="4">Thursday</option>
                  <option value="5">Friday</option>
                  <option value="6">Saturday</option>
                  <option value="7">Sunday</option>
                </select></div>
              <div><label>Starting Time</label>
              <input type="time" min="08:00" name="start_at" required></div>
              <div><label>Ending Time</label>
              <input type="time" max="19:00" name="end_at" required></div>
              <div><button type="submit">Submit</button></div>
              <div><a href="/"> Go to Planning</a></div>
            </form>
    </div>    

</body>
<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:50%
}
</style>
</html>