<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>REGISTRATION</title>
</head>

<body>
<%= errors %>
<div>
      <form method="POST" action="/register"  >
        <h2>Create your Account</h2>
        <input name="lastname" type="text" placeholder="Last Name" autofocus="true"/>
        <input name="firstname" type="text" placeholder="First Name" autofocus="true"/>
        <input name="email" type="text" placeholder="Email" autofocus="true"/>
        <input name="password" type="password" placeholder="Password" />
        <input name="passwordConfirm" type="password" placeholder="Password confirm" />

        <button type="submit">Sign up</button>
      </form>
      <a href="login">Go to Login</a>

</div>

<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:50%
}
</style>

</body>
</html>