<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="../public/css/home.css">
</head>
<body>
	<div id="nav">
		<a href="/">Accueil</a>
		<form  action="/search" method="post">
     		<input type="text" placeholder="Rechercher.." name="search">
     		<button type="submit">Valider</button>
  		</form>
  		<form  action="/logout" method="post">
     		<button type="submit">Déconnexion</button>
  		</form>
	</div>
	<% if(locals.movie) { %>
			
			<div id="film">
				<img src="<%= `${movie['large_cover_image']}` %>">
				<div id="info">
					<h1><%= `${movie['title']}` %>	</h1>
					<p><%= `Année : ${movie['year']}` %></p>
					<p><%= `Synopsis : ${movie['description_full']}` %></p>
				</div>	

			</div> 
		
	<% } %>
</body>
</html>