<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="public/css/home.css">
	<script charset="utf-8" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="public/js/search.js" type="text/javascript"></script>
	<script src="public/js/rate.js" type="text/javascript"></script>
	
</head>
<body>
	<div id="nav">
		<a href="/">Accueil</a>
		<form  action="/" method="get">
     		<input id="search" type="text" placeholder="Rechercher.." name="search">
     		<button id="validSearch" type="submit">Valider</button>
     		<div id="resultSearch"></div>
  		</form>
  		<form  action="/logout" method="get">
     		<button type="submit">logout</button>
  		</form> 
	</div>

	<h1>Liste des films</h1>

	<% if(locals.movies) { %>
		<% for (index in movies) { %>
			
			
		
			<a href="/films/<%= `${movies[index]['id']}` %>"><div class="film">
				<img src="<%= `https://img.yts.mx/${movies[index]['small_cover_image']}` %>">
				<div class="idFilm"> <%= `${movies[index]['id']}` %> </div> 
				<div> <%= `Titre : ${movies[index]['title']}` %> </div> 
				<div> <%= `Année : ${movies[index]['year']}` %> </div> 
				<div> <%= `Genre : ${movies[index]['genres']}` %> </div> 
				<div id="rate"></div>
			</div> </a>
		<% } %>
		
	<% } %>
</body>
</html>