<!DOCTYPE html>
<html>
<head> 
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="public/css/home.css">
</head>
<body>
	<div id="nav">
		<a href="/">Accueil</a>
		<form  action="/search" method="post">
     		<input type="text" placeholder="Rechercher.." name="search">
     		<button type="submit">Valider</button>
  		</form>
  		<form  action="/logout" method="post">
     		<button type="submit">Déconnexion</button>
  		</form>
	</div>
	<div >
		<form id="log" method="post" action="/signup">
			
			<input type="email" name="email" placeholder="exemple@gmail.com">
			
			<input type="password" name="psw" placeholder="*******">
			<input type="password" name="confirmPsw" placeholder="*******">
			<button type="submit">S'inscrire</button>
			<a href="/login"><p>login ?</p></a>
		</form>
	</div>

</body>
</html>