body{
  margin :0;
  padding: 0;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00B4CC ;
  padding: 10px 20px;
}
nav a{
  color: azure;
  text-decoration: none;
}
#SearchBar {
  width: 300px;
  height: 36px;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5%;
}

form input{
  margin: 10px;
  width: 300px;
  height: 36px;
  border: 1px solid #00B4CC;
  background-color: white;
  text-align: center;
  color: #00B4CC;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#containerPlaces {
  
  border-radius: 10px;
  display: flex;
  margin: 50px;
  padding: 50px;
  background-color: azure;
  text-decoration: none;  
}

#containerPlaces div{
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  
}

#containerPlaces img{
  width: 300px;
}

#descriptionPlace img{
  width: 300px;
  margin: 30px 0;

}

#descriptionPlace div{
  margin:  30px;

}

#descriptionPlace {
  margin: 0 20%;
  display: flex;
}

#commt {
  margin: 0 20%;
}

#profil {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profil div,#profil a {
  margin: 20px;
}


#resultSearch{
  text-decoration: none;
  color: gray;
  font-size: 1.5em;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.288);
  padding: 10px;
}

#add{
  background-color: #00B4CC;
  height:80px;
  width: 80px;
  border-radius: 100px;
  color: aliceblue;
 margin: auto;
  font-size: 4.5em;
  text-align: center;
  z-index: 3;
  position: fixed;
  top: 85%;
  right: 5%;
}

#add p{
  margin: auto;
}