
body { margin: 0; min-height: 100%; position: relative; padding-bottom: 0px; box-sizing: border-box; } 



/*--------- HEADER -------*/

.menu{
	background: #6A7B8B;
	width :100%;
	height: 110px;
	line-height: 100px;
	margin: 0; padding: 0;
}

.m-left{
	float: left;
}

.m-right{
	float: right;
	margin-right:110px;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 21px;

    }

.link {
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 20px;
}

#logo {
	float: left;
	margin-left: 40px;
	margin-top:15px;
	width: 210px;
	height: 75px;
}

/*----------- ZONE 1 DECOUVREZ ----------*/
#logonoir {
	width: 280px;
	height: 280px;
	margin-left: 800px;
 	margin-top: 7px;
 	margin-bottom: 40px;
}

#logosalle {
	width: 1650px;
	height: 1000px;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: -45px;
}



.h1index {
	font-size: 55px;
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	color: white; text-shadow: black -0.1em 0.1em 0.2em;
	margin-left: 545px;
	margin-top: -900px;
	float: middle;
}

.h2index {
	font-size: 55px;
 	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
 	color: #5b5a5a;
 	margin-top: 910px;
 	margin-bottom: 100px;
	text-align: center;
  	position: center;
}

#squares {
	display: flex;
	justify-content: center;
}

#squares2 {
	display: flex;
	justify-content: center;
}

.square {
	height: 550px;
	width: 520px;
	background-color: #bcc2ca;
	display: flex;
    flex-flow: column wrap;
    text-align: center;

	box-shadow: 0.1em 0.02em 0.3em grey;
	margin: 0 30px 0 30px;
}

.square img{
	height: 170px;
	width: 170px;
	margin-left: 180px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.h3square {
	color: white; text-shadow: black 0.1em 0.01em 0.2em;
}
.centrage {
	padding-top: 0px;
	color: white;
	
    font-size: 1.8em;
    text-align: center;
}

.infos {
	align-items: center;
}

.infos button{

	font-size: 35px;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	background-color: #6a7c8c;
	height: 100px;
	width: 450px;
    border: 0;
    line-height: 2.5;
    margin-top: 120px;
    margin-left: 750px;
    padding: 0 20px;
   	text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: -2px 6px 8px 0px rgba(0,0,0,0.5);
    font-weight: bold
    

}

.infos a{

color: white;
text-decoration: none;
font-size: 30px;
font-weight: bold;
}

.infos a:hover{
	color: red;
}

/*---------------- PROGRAMME --------------*/

.h2prog {
	font-size: 55px;
 	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
 	color: #5b5a5a;
 	margin-top: 110px;
 	margin-bottom: 100px;
	text-align: center;
  	position: center;
}

#open{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #open img{
    width: 150px;
    height: 150px;
    padding-left: 100px;
  }
  #left{
    float: left;
  }

  #left2{
    float: left;
  }

  
  #right{
    float: right;
    padding-right: 180px;
  }

#right2{
    float: right;
    padding-right: 180px;
  }

  #open h2{
    color: #626161;
    font-size: 45px;
    padding-top: 40px;
    padding-left: 50px;
  }
  .text1{
    color: #626161;
    font-size: 35px;
    padding-left: 70px;
    text-align: center;
  }
  .text1 p{
    padding: 5% 0;
    padding-left: 70px;
  text-align: center;
    font-size: 35px;
  }

  #day p{
    clear:both;
    font-size: 35px;
  }
  
  .texte2 #ateliers{
    color: #626161;
   	text-align: center;
    padding-top: 500px;
    font-size: 40px;
    
  }
  
  .texte3 #contact{
    color: #626161;
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }
	
#contact a{
	text-decoration: none;
	color: #626161;
}

#contact a:hover{
	color: red;
	
}

/*---- ABOUT -----*/


.textengage h2{
font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
color: #626161;
font-size: 50px;
padding-left: 80px;
padding-top: 40px;
}

.textengage p{
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	color: #626161;
	font-size: 30px;
	padding-left: 80px;
}

.logo3 img{
	height: 950px;
	width: 650px;
	padding-right: 10px;
}

.logo4 img{
	height: 850px;
	width: 700px;
	padding-top: 300px;
	padding-left: 80px;
	padding-bottom: 200px;
}

.textengage2 h2{
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	color: #626161;
	font-size: 50px;
	padding-top: 80px;

}

.textengage2 p{
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	color: #626161;
	font-size: 30px;
	
}

/*--------- contact -----------*/

.h1contact {
font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
color: #626161;
font-size: 50px;
text-align: center;
}

.h1p {
font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
color: #626161;
font-size: 35px;
margin-left: 400px;
}

.map iframe{
height: 1200px;
width: 1200px;
margin-left: 400px;
margin-top: 100px;
margin-bottom: 100px;

}

footer {
	margin-bottom: 0px;
	margin-top: 100px;
	background:#6A7B8B;
	position:absolute;
	width:100%;
	height:auto;
	clear: both;
	text-align: center;
	padding: 0.1%;
	margin: 0;
	position: fixed;
    position: relative;
    display: inline-block;
    height: 20vh;

}
	


.h4index {
	font-size: 20px;
 	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
 	color: white;
 	margin-top: 30px;
 	margin-bottom: 50px;
 	text-align: center;
}

.reseaux a{
padding-right: 40px;
align-items: center;

}

#logoblancfooter {
	float: left;
	margin-left: 40px;
	margin-top:50px;
	width: 3.5%;
	height: 52%;
	padding-bottom: 30px;
 }

#logolinkedin {
	float:	none;
	margin-left: 0%;
	width: 40px;
	height: 40px;
	
}

#logotwitter {
	float:	none;
	margin-left: 0px;
	width: 40px;
	height: 40px;

}

#logofacebook {
	float:	none;
	margin-left: 0px;
	width: 40px;
	height: 40px;
	
}

@media screen and (max-width: 1024px) {
	.m-right a {
		color: red;
	}
}