<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <nav>
            <a href="/"><p>HOME</p></a>
            <input type="text" id="SearchBar" placeholder="Rechercher un lieu...">
            <a href="/"><img src="../img/user.png" alt="profil"></a>
        </nav>
        <form method="POST" action="/places/add" enctype="multipart/form-data">
            <%= typeof msg != 'undefined' ? msg : '' %>
            <label>Ville</label>
            <input type="text" name="name"/>
            <label>Description</label>
            <input type="text" name="description"/>
            <input type="file" accept="image/*" name="photo" >
            <input type="submit" class="btn" />
            <a href="/places"><p>Annuler</p></a>
        </form>
        <br/>
        <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
    </body>
</html>