<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <H1 style="text-align: center;">Ajouter ou supprimer un lieu</H1>
        <% for (index in user) { %> 
        <div id="containerPlaces">
                <form action="/admin/accepte" method="POST">
                    <select name="<%= user[index]['_id'] %>" id="pet-select">
                        <option valeur="<%= user[index]['_id'] %>">Ajouter</option>
                        <option valeur="<%= user[index]['_id'] %>">supprimer</option>
                    </select>
                    <input type="submit">
                    
                    
                </form>
                <img src="<%= user[index]['linkImg'] %>" alt="photo <%= user[index]['name'] %>">
                <div class="info">
                    <a href="/places/<%= user[index]['_id'] %>"><div><%= user[index]['name'] %></div></a>
                    <div><%= user[index]['description'] %></div>
                 </div>
                 
        </div>
        <% } %>
    </body>
</html>