<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/search.js" type="text/javascript"></script>
        <script src="/js/comment.js" type="text/javascript"></script>
    </head>
    <body>
        <nav>
            <a href="/places"><p>HOME</p></a>
            <input type="text" id="SearchBar" placeholder="Rechercher un lieu...">
            <a href="/"><img src="../img/user.png" alt="profil"></a>
        </nav>
        <div id="descriptionPlace">
            <img src="<%= user['linkImg'] %>" alt="Image de la ville de <%= user['name'] %>">
            <div>
                <div><%= user['name'] %></div>
                <div><%= user['description'] %></div>
            </div>
         </div> 
         <div id="commt">
            <p>Commentaire</p>
            <input type="text" id="com">
            <input type="button" value="Commenter" id="valid"> 
            <div id="comment"></div>       
        </div>      
        
    
    
    </body>
</html>