<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <nav>
            <a href="/places"><p>HOME</p></a>
            <input type="text" id="SearchBar" placeholder="Rechercher un lieu...">
            <a href="/"><img src="../img/user.png" alt="profil"></a>
        </nav>
        <div id="profil">
           <div>Nom : <%= user['name'] %></div> 
           <div>Prénom : <%= user['firstname'] %></div> 
           <div>Email : <%= user['email'] %></div>
           <a href="/user/logout">
            <input type="button" value="Déconnexion">
           </a>
        </div>
        <form method="POST" action="/user/<%= user['_id'] %>">
            <input type="password" name="psw" placeholder="Nouveau mot de passe" >
            <input type="password" name="cpsw" placeholder="Retaper nouveau mot de passe">
            <input type="submit"  />
        </form>

         
        
    
    
    </body>
</html>