<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/search.js" type="text/javascript"></script>
        <script src="/js/comment.js" type="text/javascript"></script>
    </head>
    <body>
        <nav>
            <a href="/places"><p>HOME</p></a>
            <div>
            <input type="text" id="SearchBar" placeholder="Rechercher un lieu...">
            <input type="button" value="rechercher" id="search">
            </div>
            <a href="/user/<%= iduser %>"><img src="../img/user.png" alt="profil"></a>
        </nav>
       <div id="resultSearch"></div>
        <% for (index in user) { %>
        <div id="containerPlaces">
                <img src="<%= user[index]['linkImg'] %>" alt="photo <%= user[index]['name'] %>">
                <div class="info">
                    <a href="/places/<%= user[index]['_id'] %>"><div><%= user[index]['name'] %></div></a>
                    <div><%= user[index]['description'] %></div>
                 </div>
        </div>
        <% } %>
        <a href="/places/add"><div id="add"><p>+</p></div></a>
    </body>
</html>