<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <nav>
            <a href="/"><p>HOME</p></a>
            <input type="text" id="SearchBar" placeholder="Rechercher un lieu...">
            <a href="/"><img src="../img/user.png" alt="profil"></a>
        </nav>
        <form method="POST" action="/user/login">
           
            <label>Email</label>
            <input type="email" name="email"/>
            <label>Mot de passe</label>
            <input type="password" name="password"/>
            <input type="submit" class="btn btn-primary" />
            <a href="/user/signup"><p>S'inscrire</p></a>
        </form>
    </body>
</html>