<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME&</title>
  </head>

  <header>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">PLANNINGS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="new_planning">New Planning</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
</header>

  <body style="width:98%">
    
    <div>
      
        <p>welcome, logged in as:<span style="color:red">
          <% for (data in result) { %><br>
                <% for (key in result[data]) { %><<br>
                    <%= `${key}: ${result[data][key]}`  %>
                    <% if (key == 'userID') {%>
                      <a href="/users/<%=result[data][key]%>">Link</a>
                  <%}%>
                <% } %>
            <% } %>
          </span></p>
    </div>


  </body>
</html>