<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME&</title>
  </head>

  <header>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">PLANNINGS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="new_planning">New Planning</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
</header>

  <body style="width:98%">
    
    <div>
      
        <p>welcome, logged in as:<span style="background:tomato">
          <% for (key in result) { %><br>
                <% for (value in result[key]) { %><<br>
                    <%= result[key][value]  %>
    
                <% } %>
            <% } %>
          </span></p>
    </div>


  </body>
</html>