<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIGN OUT</title>
  </head>

  <header>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">SIGN OUT</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="new_planning">New Planning</a></li>
        <li><a href="users">Users</a></li>
        <li><a href="signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
</header>

<body>
<p>welcome, logged in as:<span style="background:yellow";><%= user_email %></span></p>
</body>
<style>
input{
  margin-bottom: 15px
}
h2{
  text-align: center
}
.container{
  width:50%
}
</style>
</html>