body{
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

#nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	background-color: #1c2129;
}

#nav a{
color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

form button {
	border:none;
	padding:6px;
	border-radius:2px;
	background:#ffc426;
	font:bold 13px Arial;
	color:#fff;
}  

 #nav input[type=text], #log input[type=email], #log input[type=password] {
    border: 1px solid #fff; 
    padding:5px; 
 }

 #log {
 	margin: auto;
 	width: 300px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
    align-items: center;
 	background-color: #f2f3f5;
 	padding: 20px;
 	margin-top: 150px;
 }

 #log input[type=email], #log input[type=password]{
 	margin: 10px;
 }

 #log a{
 	color :#ffc426;
 	text-decoration: none;
 	font-size:  0.8em;
 }

 .film{
 	display: flex;
 	justify-content: flex-start;
  align-items: center;
 	padding: 10px;
 	border-top: solid 1px;
 }

  .film div{
  padding: 10px;
  font-size: 0.8em
 }

 a{
 	text-decoration: none;
 	color: black;
 }

 h1{
 	text-align: center;
 	font-size: 1.2em
 }

#film{
  display: flex;
   justify-content: center;
   padding: 3%;
}

#film img{
  width: 25%;
  height: 25%
  
}

#film div{
  width: 25%;
  padding-left: 2%; 
}

