<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>

<body>
  <table>
    <tbody>
      <% for (location of locations) { %>
      <tr>
        <form action="/admin/<%= location.id %>" method="POST">
          <td><h4><%= location.name %></h4></td>
          <td><h5><%= location.text %></h5></td>
          <td><img src="<%= location.file %>" width="150" /></td>
          <td><input type="submit" value="Validate" /></td>
          <td><input type="submit" value="Delete" /></td>

        </form>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>

<%-include('foot') %>
