<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>

<form method="POST">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="name" name="name" placeholder="Name" required /><br>
          <textarea type="text" name="text" placeholder="Description" required rows="10" cols="30"/></textarea><br>
          <input
            type="file"
            name="file"
            id="input-files"
            class="form-control-file border"
          />
        </div>
        <input type="submit" value="Submit" />
      </div>
    </div>
  </div>
</form>

<%-include('foot') %>
