<%-include('head') %>

<form class=" " action=" " method="post">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" />
  </div>

  <div class="form-group">
    <label>Email: </label>
    <input type="text" class="form-control" name="email" />
  </div>
  <input type="submit" name="" value="Submit" />
</form>

<%-include('foot') %>
