<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>

<form action="" method="get">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">

          <input type="name" name="name" value="<%= location.name %>" /><br>
          <textarea type="text" name="text" value="<%= location.text %>" required rows="10" cols="30"/></textarea><br>
          <input
            type="file"
            name="file"
            value="<%= location.file %>"
            id="input-files"
            class="form-control-file border"
          />
        </div>
        <input type="submit" value="Modify" /><h2>Detail of location</h2>
      </div>
    </div>
  </div>
</form>

<%-include('foot') %>
