<body>
<div id="mainWrapper">
    <header> 
      <!-- This is the header content. It contains Logo and links -->
      <div id="logo"> <!-- <img src="logoImage.png" alt="sample logo"> --> 
        <!-- Company Logo text --> 
        LOGO </div>
      <div id="headerLinks"><a href="/login">Login</a><a href="/signup"> Sign up </a><a href="/admin">Admin </a></div>
    </header>
    <section id="banner"> 
      <!--  a titleLocation text  -->
      <h2>TRAVEL WITH NO LIMIT</h2>
      <p>JUST DO IT !!!</p>
    </section>
  <div id="content">