<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>

<body>
  <h4>Madagascar is undoubtedly one of Africa's most fascinating countries, and certainly one of the continent's most unique. An island nation surrounded by the crystalline waters of the Indian Ocean, it's most famous for its incredible flora and fauna - from its charismatic lemurs to its towering baobab trees. Much of the country's wildlife is found nowhere else on Earth, and as such eco-tourism is one of Madagascar's key attractions. It is also home to unspoiled beaches, breathtaking dive sites and a colorful kaleidoscope of local Malagasy culture and cuisine. </h4>
<table>
  <tbody>
  	 <% for (location of locations) { %>
     <tr>

        <td><h3><%= location.name %></h3> </td>
        <td><h5><%= location.text %></h5> </td>
        <td><img src="<%= location.file %>" width='150' /></td>
        <td><a href="/getOneLocation/<%= location.id %>">Learn more</a></td>

     </tr>
   <% } %>
  </tbody>
</table>

  </body>


<%-include('foot') %>
