<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>
	<form  method="POST">
		      <p><h3> Login </h3></p>
		       <input type="email" name="email" placeholder="Email" required><br>
		        <input type="password" name="password" placeholder="Password" required><br>
		        <input type="submit" value="Login">
	</form>
<%-include('foot') %>
