<section class="sidebar">
      <input type="text"  id="search" value="search">
      <div id="menubar">
        <nav class="menu">
          <h2>MENU</h2>
          <hr>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/createLocation">New destination</a></li>
		<li></li>
	      <li> <a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
</section>
<section class="mainContent">
