<%-include('head') %> <%-include('header') %> <%-include('menuBar') %>

<h2>Informations</h2>
<div class="afficherAJAX"></div>


<div class="">
  <h3><%= location.name %></h3>
  <br />
</div>
<div class="">
  <img src="<%= location.file %>" width="450" /><br />
  <h5><%= location.like %></h5>
  <i class="fa fa-thumbs-up" class="like"></i><br />
</div>
<div class="">
  <h5><%= location.text %></h5>
  <br />
</div>

<% for (i = 0; i<location.comment.length; i++) { %>
  <div class="">
    <h6>
      Author :
      <a href="/profile/<%= location.comment[i].idAuthor %>"
        ><%= location.comment[i].author %></a
      >
    </h6>
    Comment : <%= location.comment[i].text %><br /><br />
  </div>
  <% } %>
  <!-- si ma  var session vide pas de form -->
  <form class=" " action=" " method="post">
    <textarea
      type="text"
      name="text"
      placeholder="Comment..."
      required
      rows="2"
      cols="60"
    ></textarea
    ><br />
    <input type="submit" value="Add comment" /><br /><br />
  </form>
  
  <script src="../javascripts/pageDetails.js"></script>

  <%-include('foot') %>
</location.comment.length;>
