<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>

<h1>Details profile</h1>

<form class="" action="" method="post">
  <p>Username: <%= user.username %></p>
  <p>Email: <%= user.email %></p>

  <td><a href="/profile/<%= user._id %>/edit" class="nav-link">Editer</a></td>
</form>

<%-include('foot') %>
