<%-include('head') %>
<%-include('header') %>
<%-include('menuBar') %>

<div class="container">
  <form  method="POST">
    <div class="row">
        <p><h3>Sign up / Login</h3></p>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="cpassword" placeholder="Confirm password" required><br>
        <input type="submit" value="Sign up">
    </div>
  </form>

<%-include('foot') %>
